@using wedditBlazor.Services;
@inject ApiService apiService
@using shared.Model;

<div>
    <br/>
    <h3>Write a comment</h3>
    <input placeholder="Content" type="input" id="content" @bind-value="content"/>
    <input placeholder="User" type="input" id="user" @bind-value="user"/>

    <button id="createCommentButton" type="button" @onclick="CreateNewComment">Post comment</button>
</div>

@code {

    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter]
    public int PostId { get; set; }
    private string? content;
    private string? user;
    private Post? post;

    protected override async Task OnInitializedAsync()
    {
        post = await apiService.GetPost(PostId);

        InvokeAsync(() =>
        {
            StateHasChanged();
        });

    }
    private async void CreateNewComment()
    {
        if (content == null)
        {
            return;
        }
        
        await apiService.CreateComment(content, PostId, user);

        content = string.Empty;

        user = string.Empty;

        OnInitializedAsync();
    }
}
