@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row justify-content-between">
            <h1>Weddit 🦜</h1>
            <a href="https://github.com/lynge96/wedditMiniprojekt" target="_blank">Github</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

