@page "/"
@using shared.Model

<PageTitle>Weddit</PageTitle>

<h4>Forside</h4>

<PostList></PostList>

<br>
<button><a style="text-decoration:none; color: black" href="/createpost">New post</a></button>
