@inherits LayoutComponentBase

@using shared.Model;
@using wedditBlazor.Services;
@inject ApiService apiService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <i>Sorter efter:</i>
    <button @onclick="() => Sort(1)">Flest upvotes</button>
    <button @onclick="() => Sort(2)">Færrest upvotes</button>
    <button @onclick="() => Sort(3)">Nyeste</button>

    <table>
        <tr>
            <th>Votes</th>
            <th>Title</th>
            <th>User</th>
            <th>Dato</th>
        </tr>
        @foreach (var post in postFilter)
        {
            <tr>
                <td>@post.Votes</td>
                <td><a href="/posts/@post.PostId">@post.Title</a></td>
                <td>@post.User.Username</td>
                <td>@post.Date</td>
                <td><button @onclick="() => VotePost(post.PostId, true)">Upvote</button></td>
                <td><button @onclick="() => VotePost(post.PostId, false)">Downvote</button></td>

            </tr>
        }
    </table>

}



@code {
    private Post[]? posts;
    private Post[]? postFilter;
    private Post? votePost;

    private void Sort(int filter)
    {
        if (filter == 1)
        {
            postFilter = posts.OrderByDescending(x => x.Votes).ToArray();
        }
        else if (filter == 2)
        {
            postFilter = posts.OrderBy(x => x.Votes).ToArray();

        }
        else if (filter == 3)
        {
            postFilter = posts.OrderByDescending(x => x.Date).ToArray();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        posts = await apiService.GetPosts();

        postFilter = posts.OrderByDescending(x => x.Date).ToArray();

        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async void VotePost(int id, bool updown)
    {
        var updatedPost = await apiService.VotePost(id, updown);
        OnInitializedAsync();

    }
}

